@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
/*colors*/
/*breakpoints*/
/* les liens a */
/* bouton previous*/
/*bouton rose */
/* logo */
/*restaurants*/
/*******************************/
/*tablette et pc : responsives*/
/*structure css*/
body {
  margin: 0;
  font-family: "Roboto";
}
@media screen and (min-width: 1024px) {
  body {
    max-width: 900px;
    margin: auto;
  }
}
@media screen and (min-width: 2560px) {
  body {
    max-width: 900px;
    margin: auto;
  }
}

.logo {
  font-family: "Shrikhand";
  padding: 20px 0 10px 0;
  width: 100%;
  font-size: 35px;
  text-align: center;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  list-style: none;
}

h1 {
  padding: 20px 40px 0 40px;
}

h2 {
  padding-left: 10px;
}
@media screen and (min-width: 475px) {
  h2 {
    text-align: center;
  }
}

h3, p {
  margin: 0 0 5px 0;
}

p {
  font-size: 15px;
  padding-bottom: 30px;
  color: #7e7e7e;
}

/* pages des menus restaurants */
/* bouton previous*/
header {
  position: relative;
}

.return {
  position: absolute;
  left: 20px;
  top: 35px;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.fas {
  font-size: 16px;
}

/*image*/
header img {
  height: 235px;
  object-fit: cover;
  width: 100%;
}

/*détails des menus*/
.menus {
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-top: -50px;
  border-radius: 35px 35px 0 0;
  position: relative;
}

.text__description h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
}

h2 span {
  border-bottom: 3px solid #99e2d0;
  display: block;
  width: 50px;
  margin-bottom: 15px;
}

.icon {
  padding-top: 20px;
}

/*entrées, plats et desserts*/
.entrees, .plats, .desserts {
  padding-bottom: 15px;
}
.entrees__titre, .plats__titre, .desserts__titre {
  color: #7e7e7e;
  font-size: 16px;
}
.entrees a, .plats a, .desserts a {
  background-color: white;
  margin-bottom: 15px;
  height: 80px;
}
.entrees h3, .plats h3, .desserts h3 {
  font-size: 17px;
}
@media screen and (min-width: 1024px) {
  .entrees h3, .plats h3, .desserts h3 {
    font-size: 22px;
  }
}
@media screen and (min-width: 2560px) {
  .entrees h3, .plats h3, .desserts h3 {
    font-size: 25px;
  }
}
.entrees p, .plats p, .desserts p {
  color: black;
  font-size: 13px;
  padding-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .entrees p, .plats p, .desserts p {
    font-size: 19px;
  }
}
@media screen and (min-width: 2560px) {
  .entrees p, .plats p, .desserts p {
    font-size: 22px;
  }
}

.choice {
  display: flex;
  width: 93%;
  border-radius: 10px;
  margin: auto;
  box-shadow: 0px 4px 5px 0px #cbcbcb;
}

.name {
  width: 100%;
  padding: 10px;
}

.price {
  padding-top: 30px;
  padding-right: 25px;
  font-weight: bold;
}
.price p {
  font-size: 15px;
}

.gradient {
  display: flex;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .gradient {
    font-size: 17px;
  }
}

/* header */
header {
  display: flex;
  flex-direction: column;
}

/*géolocalisation*/
.iconmaps {
  position: relative;
  background-color: #eaeaea;
}

.map {
  position: absolute;
  top: 16px;
  left: 25%;
  font-size: 15px;
  width: 40px;
}
@media screen and (min-width: 475px) {
  .map {
    left: 33%;
  }
}
@media screen and (min-width: 1024px) {
  .map {
    left: 40%;
  }
}
@media screen and (min-width: 2560px) {
  .map {
    left: 45%;
  }
}
.map i {
  font-size: 16px;
  color: #000000;
}

input {
  background-color: #eaeaea;
  border: 0;
  text-align: center;
  height: 50px;
  width: 100%;
  box-shadow: inset 0px 2px 3px 0px #d1d1d1;
  padding: 0;
}
input::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

/*présentation*/
.title {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

/*bouton rose*/
button {
  font-size: 14px;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 15px;
  color: white;
  border: 0px;
  border-radius: 25px;
  box-shadow: 0px 3px 4px 2px #d1d1d1;
  cursor: pointer;
}

/*fonctionnement*/
.steps {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
@media screen and (min-width: 475px) {
  .steps {
    margin: 10px auto 30px auto;
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .steps {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 2560px) {
  .steps {
    width: 70%;
  }
}
.steps__flex {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  box-shadow: 2px 2px 5px 2px #dddddd;
  margin: 20px;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .steps__flex {
    width: 25%;
  }
}
.steps__flex:hover {
  background-color: #f2eafb;
  box-shadow: 2px 4px 8px 0px #d1d1d1;
}
.steps__flex p {
  font-weight: 600;
  padding-bottom: 0px;
  color: black;
}
.steps__flex .fas {
  margin-right: 5%;
  color: #909090;
}

.numbers {
  margin-right: 20px;
  margin-left: -30px;
  background-color: #9356dc;
  padding: 3px 8px;
  border-radius: 50%;
  color: white;
}

.fas {
  font-size: 16px;
}

/*restaurants*/
.restaurants {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}
.restaurants__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .restaurants__flex {
    flex-direction: row;
  }
}
.restaurants__photos {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  height: 250px;
  box-shadow: 0px 4px 5px 0px #cbcbcb;
}
.restaurants__photos--large {
  height: 190px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  position: relative;
}
@media screen and (min-width: 475px) {
  .restaurants__photos {
    margin: 10px auto 30px auto;
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__photos {
    width: 35%;
  }
}
@media screen and (min-width: 2560px) {
  .restaurants__photos {
    width: 20%;
  }
}

.cards {
  position: relative;
}
.cards span {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 15px;
  background-color: #99e2d0;
  color: #2c9c81;
  padding: 5px 10px;
}

.text {
  padding-top: 5px;
  padding-left: 10px;
}
.text p {
  color: black;
}
.text__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-heart {
  height: 60px;
  width: 45px;
  font-size: 30px;
}

h3 {
  font-size: 17px;
}

/*footer*/
footer {
  color: white;
  background-color: #353535;
  padding: 15px;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 16px;
  font-weight: 200;
}
@media screen and (min-width: 1024px) {
  footer h2 {
    text-align: center;
  }
}
footer ul {
  list-style: none;
  margin-left: 6px;
  padding-left: 0;
}
footer li {
  margin-bottom: 10px;
}
footer li i {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer li {
    text-align: center;
  }
}
footer a {
  color: white;
  font-style: normal;
  font-size: 14px;
}
footer .fas {
  margin-right: 15px;
  color: white;
}

.link {
  padding-left: 7px;
}

/* Responsives inclus via les mixins */

/*# sourceMappingURL=style.css.map */
