/*pages des menus restaurants*/
/*structure page menu*/
.container, .menus{
    max-width: 1200px;
    margin: auto;

}
/*bouton previous*/

header{
    position:relative;
}
.return{
   @include previous;
}


/*image*/
header img{
    height: 235px;
    object-fit: cover;
    width: 100%;
}


/*détails des menus*/
.menus{
    width: 100%;
    background-color: $background;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: -50px;
    border-radius: 35px 35px 0 0;
    position:relative;
}


.text__description h1{
    font-family: "Shrikhand";
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}

h2 span {
    border-bottom:3px solid $tertiary-color;
    display: block;
    width: 50px;
    margin-bottom: 15px;
}

.icon{
    position: relative;
    padding-top:20px;
}

.menu__details{
    margin: auto;
    max-width: 900px;

}
/*apparition des menus */
.choice__delay{
    animation: delayapparition;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.delay__0{
    animation-delay:0s;
}

.delay__1{
    animation-delay:0.5s;
}

.delay__2{
    animation-delay:1s;
}

.delay__3{
    animation-delay:1.5s;
}

.delay__4{
    animation-delay:2s;
}



/*entrées, plats et desserts*/
.entrees, .plats, .desserts {
    padding-bottom: 15px;
    @include tablet{
        margin-left: 15px;
    }
    &__titre{
        color: $dark-grey;
        font-size: 16px;
    }
    & a{
        background-color: $white;
        margin-bottom: 15px;
        height: 80px;
    }
    & p{
        color:$black;
        padding-bottom:0;
    }

}

/*check vert avec la fonction calc*/
.choice{
    display: flex;
    flex-direction: row;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 4px 5px 0px #cbcbcb;
    cursor: pointer;
    overflow: hidden; /*cache  le check qui dépasse*/
    /*min-width: calc(254px + 45px); /*total = name + prix*/
}

.choice:hover >.name {
    min-width: calc(58px + 41px + 70px); /*total = name + prix + box*/
}

.choice p, .choice h3{
    overflow: hidden;  /*texte en ... */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name{
    padding: 10px;
    flex-grow: 1;
    /*min-width:calc(100% - 60px);  /*100% - prix*/
}

/*.name:hover{  
   /*min-width:calc(100% - 125px);   /*100% - (prix + box)
}*/

.price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    & p{
        font-size:14px;
    }
}

.gradient{
    display: flex;
    margin: auto;
    @include laptop {
        font-size: 17px;
    }
}


/*coche verte*/
.box{
    display: flex;
    background-color: $tertiary-color;
    width:0;
    transition: all 1s;
}

.choice:hover > .box{
    min-width:70px;  /*définit la taille de l'apparition box*/
    animation:box-appearance; /* animation: box-appearance;*/
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.choice:hover > .box .check {
    transform: rotate(0deg);
}

.box .check{
    margin: auto;
    transition: transform 1s;
    transform: rotate(180deg);
}

.box .check .fa-check-circle{
    color: $white;
    font-size: 25px;

}

