/*pages des menus restaurants*/
/*bouton previous*/

header{
    position:relative;
}
.return{
   @include previous;
}



/*image*/
header img{
    height: 235px;
    object-fit: cover;
    width: 100%;
}


/*détails des menus*/
.menus{
    width: 100%;
    background-color: $background;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: -50px;
    border-radius: 35px 35px 0 0;
    position:relative;
}


.text__description h1{
    font-family: "Shrikhand";
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
}

h2 span {
    border-bottom:3px solid $tertiary-color;
    display: block;
    width: 50px;
    margin-bottom: 15px;
}

.icon{
    position: relative;
    padding-top:20px;
}

.menu__details{
    @include laptop {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

}
/*apparition des menus */
.choice__delay{
    animation: delayapparition;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

.delay__0{
    animation-delay:0s;
}

.delay__1{
    animation-delay:0.5s;
}

.delay__2{
    animation-delay:1s;
}

.delay__3{
    animation-delay:1.5s;
}

.delay__4{
    animation-delay:2s;
}

.delay__5{
    animation-delay:2.5s;
}

.delay__6{
    animation-delay:3s;
}

.delay__7{
    animation-delay:3.5s;
}

.delay__8{
    animation-delay:4s;
}

.delay__9{
    animation-delay:4.5s;
}


/*entrées, plats et desserts*/
.entrees, .plats, .desserts {
    padding-bottom: 15px;
    &__titre{
        color: $dark-grey;
        font-size: 16px;
    }
    & a{
        background-color: $white;
        margin-bottom: 15px;
        height: 80px;
    }
    & p{
        color:$black;
        padding-bottom:0;
    }
    @include laptop{
        width:40%;

    }
}

/*check vert*/
.choice{
    display: flex;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    box-shadow: 0px 4px 5px 0px #cbcbcb;
    cursor: pointer;
    /*cache  le check qui dépasse */
    overflow: hidden;
}

.name{
    padding: 10px;
    min-width: calc(100% - 45px); /*100% - prix*/
}

.name:hover{  
    min-width: calc(100% - 125px);  /*100% - prix + box */
}

.name:hover p, .name:hover h3{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.price {
    padding-top: 30px;
    font-weight: bold;
    padding-right: 15px;
    margin-left: -5px;

    & p{
        font-size:15px;
    }
}


.gradient{
    display: flex;
    margin: auto;
    @include laptop {
        font-size: 17px;
    }
}


/*coche verte*/
.box{
    display: flex;
    background-color: $tertiary-color;
    width:0px;
    transition: all 1s;
}

.choice:hover > .box{
    min-width:70px;
}


.choice:hover > .box .check {
    transform: rotate(0deg);
}

.box .check{
    margin: auto;
    transition: transform 0.7s;
    transform: rotate(360deg);
}

.box .check .fa-check-circle{
    color: $white;
    font-size: 25px;

}