@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import "./variables";
@import "./animations";
@import "./mixins";
@import "./base";
@import "./menu";

/*loader*/
.container{
    position: fixed;
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    opacity:0;
    z-index: -1;
    animation: loader;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both; 
}

.wrapper{
    opacity: 0;
    animation: after-load;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}


.load{
    border-radius:50%;
    border-top: 12px solid $secondary-color;
    border-left: 12px solid $primary-color;
    border-right: 12px solid $tertiary-color;
    border-bottom: 12px solid $color-grey;
    width:60px;
    height:60px;
    /*animation:load-spinner 3s ease-in-out both*/
    animation: load-spinner;
    animation-duration: 3s;
    transition-timing-function: ease-in-out;
    animation-fill-mode: both;
}
  

/*header*/
header {
    display: flex;
    flex-direction: column;
}

/*géolocalisation*/
.iconmaps{
    position: relative;
     background-color: $color-grey;
}

.map{
    position: absolute;
    top: 16px;
    left: 25%;
    font-size: 15px;
    width: 40px;
    @include tablet{
        left: 40%;
    }
    @include laptop{
        left: 42%;
    }
    @include laptop-xxl{
        left:45%;
    }   
    & i {
        font-size: 16px;
        color: #000000;
    }
}

input {
    background-color: $color-grey;
    border: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px $shadow;
    padding: 0;
    &::placeholder{
        color: $black;
        font-size: 16px;
        font-weight: 600;
    }  
}

/*présentation*/
.title{
    text-align: center;
    background-color: $background;
    padding-bottom: 40px;  
}

/*bouton rose*/
button{
    @include button;
}

button:hover{
    @include hoverbutton;
}

/*fonctionnement*/
.steps{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    @include tablet {
        margin: 10px auto 30px auto;
        width: 80%;
        align-items: center;
    }
    @include laptop{
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding-bottom: 30px;
    }
    @include laptop-xxl{
        width: 70%;
    }   
    &__flex{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        box-shadow: 2px 2px 5px 2px #dddddd;
        margin: 15px;
        padding: 20px;
        background-color: $background;
        border-radius: 15px;
        &:hover{
            background-color: #f2eafb;
            box-shadow: 2px 4px 8px 0px $shadow;
        }
        & p{
            font-weight: 600;
            padding-bottom: 0px;
            color: $black;   
        }
        & .fas {
            margin-right: 5%;
            color: #909090;
        }  
        @include tablet{
            width:40%;
        }
        @include laptop {
            width:20%;
        }
        @include laptop-xxl{
            width:22%;
        }
    }

}

.numbers{
    margin-right: 20px;
    margin-left: -30px;
    background-color: $primary-color;
    padding: 3px 8px;
    border-radius: 50%;
    color:$white;
}

.fas{
    font-size: 17px;
}

/*restaurants*/
.restaurants{
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
    &__flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include laptop{
            flex-direction: row;
        }
    }
    &__photos{
        background-color: $white;
        border-radius: 15px;
        margin: 10px;
        padding-bottom: 10px;
        height: 250px;
        box-shadow: 0px 4px 5px 0px #cbcbcb;
        &--large{
            height: 190px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            position: relative;
        }
        @include tablet{
            margin: 10px auto 30px auto;
            width: 80%;
        }
        @include laptop{
            width: 35%;
        }
        @include laptop-xxl{
            width: 22%;
        }   
    }
}

.cards{
    position: relative;
    & span{
        @include cards-span;
    }
}


.text{
    padding-top: 5px;
    padding-left: 10px;
    & p{
        color: $black;
    }
    &__description{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/*coeurs*/
.iconheart{
    position:relative;
}
.far{
    height: 60px;
    width: 60px;
    font-size: 30px; 
}

/*coeur noir/blanc*/
.heart--nb{
    position: absolute;
    -webkit-text-stroke: 1px $white;
}

/*coeur couleur*/
.heart--color{
    opacity: 0;
}

.heart--color:hover{
    opacity: 1;
    background: linear-gradient(70deg,$secondary-color,$primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
    animation: color;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}


/*footer*/
footer{
    color: $white;
    background-color: $darkbackground;
    padding: 15px;
    & h2{
        font-family: "Shrikhand";
        font-weight: 200;
    }
    & ul{
        list-style: none;
        margin-left: 6px;
        padding-left: 0;
    }
    & li{
        margin-bottom: 10px;
        & i {
            margin:0;
        }
        @include tablet {
            text-align: center;
        }
    }
    & a{
        color: $white;
        font-style: normal;
        font-size: 14px;
    }
    & .fas {
        margin-right: 15px;
        color: $white;
    }
}

.link{
    padding-left: 7px;
}